<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>Formulário de cadastro de Livros</title>
    </head>
    <body>
        <h2>Adicionar Livro</h2>
    </body>
</html>