<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>Coleção de livros</title>
    </head>
    <body>
        <h2>Bem vindo a página inicial</h2>
    </body>
</html>